.how{
    margin: 1rem 0rem !important;
    padding: 2rem !important;
    border-radius: 10px;
    background-color: white;
    color: black;
}
h2{
    text-align: center;
}
.howcontent{
    display: flex;
    flex-direction: row;
}
.howcontent > p{
    margin: 0rem 2rem;
}