.upload{
    width: 28%;
    height: 55%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 25vh;
    left: 35vw;
    padding: 1rem;
    padding-top: 0 !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.upload>h2{
    width: 100%;
    font-weight: bolder;
}
.upload > img{
    width: 200px;
}
.upload > .input{
    color: red;
    
}
::-webkit-file-upload-button {
    width: 50%;  
    font-family: 'Poppins', sans-serif;
    background: rgb(230, 72, 48);
    border-radius: 10px;
    color: black;
    padding: 0.5em 1rem;
    margin-right: 1rem;
    border: none;
    cursor: pointer;
  }
.upbtn{
    margin:2rem 0rem 0rem 0rem !important;
    padding: 0.3rem 2rem;
    background: rgb(230, 72, 48);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    color: black;
    cursor: pointer;
    border: none;
  }
.close{
    margin:0.7rem 0rem -2rem 0rem !important;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    padding: 0.3rem 2rem;
}